<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/javascript/bootstrap.min.js"></script>
    <link rel="icon" href="/ICON.ico">
<title>Admin's Dashboard</title>
<style>
    .imagez{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
        cursor: pointer;
    }
    .hide{
        display: none;
    }
    .general-execom{
        display: none;
    }
    .departmental{
        display: none;
    }
    .repre{
        display: none;
    }
    .hide-2{
        display: none;
    }
    .left-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .control{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .all_logs{
        display: none;
    }
    .crt{
        display: none;
    }
    .user-name{
        text-decoration: none;
    }
    
    .targetz{
        background-color: rgb(13, 110, 253);
    }
    .test{
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    .test2{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
 
    @media (max-width: 376px){
        body{
            background-color: pink;
        }
        tr{
            font-size: 10px;
        }
    }
</style>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/admin-dashboard">Dashboard</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <!--  <li><a class="dropdown-item" href="/establishments-account-settings">Account Settings</a></li>
                    <li><hr class="dropdown-divider" /></li> -->
                    <li><a class="dropdown-item" href="/logoutAdmin">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark targetz" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">MAIN</div>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Register Candidates
                        </a>
                        <div class="sb-sidenav-menu-heading">Coverage</div>
                        <a class="nav-link" href="/admin-dashboard">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Registered Candidates
                        </a>
                        <a class="nav-link" href="/admin-dashboard">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Tally of Votes
                        </a>
                        <!-- <a class="nav-link collapsed" href="/admin-dashboard" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Registered Candidates
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayoutz" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav cameras_but">
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayout3" aria-expanded="false" aria-controls="collapseLayout1">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                             Tally of Votes
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a> -->
                    </div>
                </div>
                <div class="sb-sidenav-footer py-2">
                    <div class="small">Logged in as:</div>
                    <img src="<%=user.imgUrl%> " alt="" class="test2">
                    <%= user.name %> 
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="card mt-5">
                    <div class="card-header bg-dark text-white">
                        Adding Candidate Profile
                    </div>
                    <div class="card-body" style="border: 1px solid black;">
                        <div class="container">
                          <form action="/admin-add-candidate" method="POST" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="left-content mt-5">
                                            <img src="https://res.cloudinary.com/dhqqwdevm/image/upload/v1631383900/DEV/defaultmale_xwnrss.jpg" alt="#" class="imagez" onclick="changePic()">
                                            <input type="file" name="img" id="img" style="display: none;"  class="form-control" accept="image/png, image/jpeg, image/gif,image/jpg">
                                            <a href="#" class="text-center mt-2" onclick="changePic()">Add Picture</a>  
                                        </div>
                                         
                                    </div>
                                    <div class="col-md-9">
                                        <div class="right-content row">
                                            <div class="col-md-6">
                                                <label for="firstName" class="form-label mt-4">First Name</label>
                                                <input type="text" name="firstName" id="firstName" class="form-control" required placeholder="First Name">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="lastName" class="form-label mt-4">Last Name</label>
                                                <input type="text" name="lastName" id="lastName" class="form-control"  required placeholder="Last Name">
                                            </div>
                                            <div class="col-md-6 second-row repre">
                                                <label class="form-label mt-3" for="position">Position</label>
                                                <input type="text" name="position" id="position" value="Department Representative" disabled class="form-control">
                                            </div>
                                            <div class="col-md-6 second-row general-execom">
                                                <label class="form-label mt-3" for="position">Position</label>
                                                <select disabled id="position" name="position" class="form-select" aria-label="Default select example">
                                                    <option value="" selected disabled hidden>Select Position</option>
                                                    <option value="President">President</option>
                                                    <option value="Vice-President">Vice-President</option>
                                                    <option value="Secretary-General">Secretary-General</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 second-row departmental">
                                                <label class="form-label mt-3" for="position">Position</label>
                                                <select id="position" name="position" class="form-select" aria-label="Default select example">
                                                    <option value="" selected disabled hidden>Select Position</option>
                                                    <option value="President">President</option>
                                                    <option value="Vice-President">Vice-President</option>
                                                    <option value="Secretary">Secretary</option>
                                                    <option value="Treasurer">Treasurer</option>
                                                    <option value="PIO">PIO</option>
                                                    <option value="Auditor">Auditor</option>
                                                    <option value="PRO">PRO</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 second-row">
                                                <label class="form-label mt-3" for="event">Event</label>
                                                <select required id="event" name="event" class="form-select" aria-label="Default select example">
                                                    <option value="" selected disabled hidden>Select Event</option>
                                                    <option value="General Election">General Election</option>
                                                    <option value="Departmental Election">Departmental Election</option>
                                                    <option value="Others">Others</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 hide">
                                                <label class="form-label mt-3" for="executive">Executive</label>
                                                <select id="executive" name="executive" class="form-select" aria-label="Default select example">
                                                    <option value="" selected disabled hidden>Select Executive</option>
                                                    <option value="Execom">Execom</option>
                                                    <option value="Representative">Representative</option>
                                                    
                                                </select>
                                            </div>
                                            <div class="col-md-6 third-row">
                                                <label for="party" class="form-label mt-3">Party</label>
                                                <select id="party" name="party" class="form-select" aria-label="Default select example">
                                                    <option  value="" selected disabled hidden>Select Party</option>
                                                    <option value="united">UNITED</option>
                                                    <option value="save">SAVE</option>
                                                    
                                                </select>
                                            </div>
                                            <div class="col-md-4 hide-2">
                                                <label class="form-label mt-3" for="department">Departments</label>
                                                <select id="department" name="department" class="form-select" aria-label="Default select example">
                                                    <option value="" selected disabled hidden>Select Department</option>
                                                    <option value="College of Management, Business, and Accountancy">College of Management, Business, and Accountancy</option>
                                                    <option value="College of Nursing and Allied Health Sciences">College of Nursing and Allied Health Sciences</option>
                                                    <option value="College of Engineering And Architecture">College of Engineering And Architecture</option>
                                                    <option value="College of Arts, Sciences and Education">College of Arts, Sciences and Education</option>
                                                    <option value="College of Computer Studies">College of Computer Studies</option>
                                                    <option value="College of Criminal Justice">College of Criminal Justice</option>
                                                    
                                                </select>
                                            </div>
                                            <div class="col-md-6 third-row">
                                                <label class="form-label mt-3" for="schoolyear">School Year</label>
                                                <select required id="schoolyear" name="schoolyear" class="form-select" aria-label="Default select example">
                                                    <option  value="" selected disabled hidden>School Year</option>
                                                    <option value="2021-2022">S.Y 2021-2022</option>
                                                    <option value="2022-2023">S.Y 2022-2023</option>
                                                    <option value="Others">Others</option>
                                                </select>
                                            </div>   
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                                               
                                    <hr class="mt-5">
                                </div>
                                
                                <div class="row">
                                    <div>
                                        <button class="btn btn-warning">Add Candidate</button>
                                        
                                    </div>
                                </div>
                            </form>
                          
                        </div>
                    </div>
                </div>

            </main>
            
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
        function changePic(){
            document.querySelector('#img').click()
        }
        window.onresize = resize
        function resize(){
            if(screen.width<1165){
                if(screen.width>767){
                    document.querySelector('.right-content').classList.add('ms-4')
                }
                else{
                    document.querySelector('.right-content').classList.remove('ms-4')
                }
                
            }
            else if(screen.width>1164){
                document.querySelector('.right-content').classList.remove('ms-4')
            }
        }
        const image = document.querySelector('#img')
        $(function () {
            $("#img").change(function () {
                readURL(this);
            });
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    //alert(e.target.result);
                    $('.imagez').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <script>
        const eve = document.querySelector('#event')
        const hide = document.querySelector('.hide')
        const secondRow = document.querySelectorAll('.second-row')
        const exe = document.querySelector('#executive')
        const hide2 = document.querySelector('.hide-2')
        const thirdRow = document.querySelectorAll('.third-row')
        const pos1 = document.querySelector('.general-execom')
        const pos2 = document.querySelector('.repre')
        const pos3 = document.querySelector('.departmental')
        setInterval(()=>{
            if(eve.value==='General Election'){
                hide.classList.remove('hide')
                pos3.classList.add('departmental')
                for(let i=0; i<secondRow.length; i++){
                    secondRow[i].classList.remove('col-md-6')
                }
                for(let i=0; i<secondRow.length; i++){
                    secondRow[i].classList.add('col-md-4')
                }
                hide.children[1].required = true
            }else if(eve.value==='Departmental Election'){
                hide.classList.add('hide')
                pos1.classList.add('general-execom')
                pos3.classList.remove('departmental')
                for(let i=0; i<secondRow.length; i++){
                    secondRow[i].classList.add('col-md-6')
                }
                for(let i=0; i<secondRow.length; i++){
                    secondRow[i].classList.remove('col-md-4')
                }
                hide.children[1].required = false
            }
        },1000)
        setInterval(()=>{
            if(eve.value==='General Election'){
                pos3.classList.remove('departmental')
                if(exe.value==='Representative'){
                    hide2.classList.remove('hide-2')
                    pos2.classList.remove('repre')
                    pos3.classList.add('departmental')
                    pos1.classList.add('general-execom')
                    pos1.children[1].disabled = true
                    for(let i=0;i<thirdRow.length; i++){
                        thirdRow[i].classList.remove('col-md-6')
                    }
                    for(let i=0;i<thirdRow.length; i++){
                        
                        thirdRow[i].classList.add('col-md-4')
                    }
                }
                else{
                    pos3.classList.add('departmental')
                    pos1.classList.remove('general-execom')
                    pos2.classList.add('repre')
                    hide2.classList.add('hide-2')
                    pos1.children[1].disabled = false
                    for(let i=0;i<thirdRow.length; i++){
                        thirdRow[i].classList.add('col-md-6')
                    }
                    for(let i=0;i<thirdRow.length; i++){
                        thirdRow[i].classList.remove('col-md-4')
                    }

                }
                hide2.children[1].required = false
            }else if(eve.value==='Departmental Election'){
                hide2.classList.remove('hide-2')
                pos2.classList.add('repre')
                for(let i=0;i<thirdRow.length; i++){
                        thirdRow[i].classList.remove('col-md-6')
                }
                for(let i=0;i<thirdRow.length; i++){
                        thirdRow[i].classList.add('col-md-4')
                }
                hide2.children[1].required = true
            }
            
        },1000)
    </script>
</body>
</html>

